*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1000px;
    /*TODO: Добавить отступы для контента*/
}


/***************************** Шапка сайта с заголовком и меню *******************************/


.header-block {
    width: 100%;
    height: 103px;
}

/*** Заголовок ***/

.header-block__title {
    margin-top: 20px;
    font-size: 30px;
    background: linear-gradient(90deg, #126dff 0%, #9422ff 10%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

/*** Навигационное меню ***/

.header-block__nav-menu {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 30px;
    background: linear-gradient(180deg,  #ffffff 0%, #c4c4c4 100%);
    border: 1px solid rgba(128, 128, 128, 0.247);
    border-radius: 5px;
}

nav ul {
    padding-top: 8px;
    padding-bottom: 8px;
    margin:0;
    list-style: none;
    position: relative;
}

nav ul li {
    margin: 0px -7px 0 0;
    display: inline-block;
}

/*** Каждый пункт меню ***/

.header-block__nav-item {
    position: relative;
    padding: 8px 16px 8px 16px;
    background: inherit;
    border-right: 1px solid rgba(128, 128, 128, 0.247);
    color rgb(0, 0, 0, 0.664);
    font-weight: 100;
    
}


.header-block__nav-item:hover {
    text-decoration: none;
    background: linear-gradient(180deg,  #e9e9e9 0%, #a7a7a7 100%);
    border: 1px solid gray;
    padding: 7px 15px 7px 15px;
}

/*** Стиль для самого левого пунтка меню ***/

.first:hover {
    border-radius: 5px 0 0 5px;
}

/*** Выпадающие пункты ***/

.link {
    color:rgb(109, 148, 255);
    font-size: 11px;
}

/*** Выпадающее меню ***/

nav ul ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 515px;
}

/* отображаем выпадающий список при наведении 
nav ul li:hover > ul {
    display: inherit;
}*/

/* первый уровень выпадающего списка */
nav ul ul li {
    min-width:170px;
    float: none;
    display: list-item;
    position: relative;
    margin-top: 10px;
}

/***************************** Основной контент *******************************/


.main-block {
    margin-top: 30px;
    display: flex;
}

.main-block__content {
    width: 600px;
}

.main-block__title {
    font-size: 18px;
}

.main-block__text {
    margin-top: 30px;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.664);
    line-height: 18px;
    font-size: 11px;
    font-family: sans-serif;
    /* TODO: Шрифт не тот */
}

/*** Изображение ***/

.main-block__img {
    margin-top: 15px;
    transition: width 2s, height 2s,  transform 2s;
 
}

.main-block__img:hover {
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
  

}

/*** Строки с ссылками ***/

.main-block__links {
    margin-top: 10px;
}

.main-block__links-text {
    display: block;
    width: 550px;
    margin-top: 5px;
    padding-bottom: 5px;
    color: rgba(0, 0, 0, 0.664);
    font-weight: bold;
    border-bottom: 1px dotted black;
}

.main-block__links-text:last-child {
    border: none;
}

.main-block__links-text a {
     color: rgb(109, 148, 255);
}

/*** Второй текст ***/

.secondary {
    margin-top: 20px;
    display: none;
}
.vacations__text
{
    display: none;
}


/***************************** Подвал *******************************/


.footer-block {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 100%;
    background: #a7a7a723;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.footer-block__column {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.footer-block__column a {
    color: rgb(109, 148, 255);
    font-size: 11px;
}

.footer-block__column-title {
    font-size: 13px;
    font-weight: 600;
}

.footer-block__column-points {
    margin-top: 10px;
}